/* /css/styles.css */

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding: 0;
}
header{
    background-color: rgba(247, 161, 56, 0.336);
    color: rgb(10, 238, 162);
    padding: 10px 0;
}
nav ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    display:flex ;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f14fd6;
    text-decoration: none;
}

nav ul li.active a {
    font-weight: bolder ;
    text-decoration: wavy;
}

footer {
    background-color: #e6f057;
    color: #f34e8d;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
}


